<template>
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="margin-top: 5%; margin-bottom: 2%">
                <div class="bar">
                    <input type="text" v-model="searchString" placeholder="Enter your search word" />
                </div>
            </div>
        </div>
        <div v-for="x in filteredNews" class="row-flex" style="margin-top: 2%">
            <div class="col-sm-12 mt-5 mb-5">
                <div class="card-deck">
                    <div id="cards" class="card">
                        <div class="card-image text-center" style="margin-top: 5%; margin-bottom: 2%">
                            <photo :images="x.photoname"></photo>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ x.title }}</h5>
                            <p class="card-text">{{x.description}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{x.publication_time}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                messages: 'Hello',
                news: [],
                searchString: '',
        }
        },
        created(){
          this.getNews();
        },
        methods: {
            getNews(){
                fetch('/all/news/all')
                    .then((res)=> {return res.json()})
                    .then((res)=> {
                        this.news = res;
                    })
            },
        },
        computed: {
            filteredNews(){
                let searchString = this.searchString.toLowerCase();
                return this.news.filter(function(item){
                  return item.title.toLowerCase().indexOf(searchString)!== -1
              });

          }
        }
    }
</script>
