<template>
    <img v-bind:src="image_url">
</template>

<script>
    export default {
        props: ['images'],
        data(){
            return {
                image_url: `/images/news/${this.images}`,
            }
        }
    }
</script>